<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      yamada-twitter.ver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <strong>Instagramから文章を生成しました!!</strong>
      <!-- <ion-item color="secondary" counter="true" class="sample" [counterFormatter]="customCounterFormatter">
        <ion-label position="stacked">ツイート内容</ion-label>
        <ion-input maxlength="140" [(ngModel)]="SampleTweet" name="SampleTweet"></ion-input>
      </ion-item> -->
      <ion-item color="dark" counter="true" class="sample" [counterFormatter]="customCounterFormatter">
        <ion-label position="stacked">ツイート内容</ion-label>
        <ion-textarea maxlength="140" [(ngModel)]="SampleTweet" name="SampleTweet"></ion-textarea>
      </ion-item>
      <ion-button shape="round" href="https://twitter.com/intent/tweet?text={{SampleTweet}}" class="twitter-share-button" data-show-count="false" data-size="large">ツイートする</ion-button>
      <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </div>
</ion-content>
