<style>
    @import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
</style>
<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            yamada
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <strong>ツイートしたい画像があるInstagramの投稿URLを入力</strong>
        <form (submit)="conversion()">
            <ion-item counter="true" class="input">
                <ion-textarea placeholder="https://www.instagram.com/p/xxx..." class="textarea" (ionChange)="urlCheck()" [(ngModel)]="instagram_url" name="instagram_url"></ion-textarea>
            </ion-item>
            <ion-button type="submit" [disabled]="button" color="instagram" class="button">
                投稿の内容を確認
            </ion-button>
        </form>
    </div>
</ion-content>