<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            yamada
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">nanikore</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>ツイートしたい画像があるInstagramのURLを入力してください</strong>
        <form (submit)="conversion()">
            <ion-item fill="outline" class="input">
                <ion-label color="medium" position="floating">InstagramのURL</ion-label>
                <ion-input (ionChange)="urlCheck()" class="ininput" [(ngModel)]="instagram_url" name="instagram_url"></ion-input>
                <ion-note *ngIf="errorStatus==0" slot="helper">InstagramのURLを入力してください</ion-note>
                <ion-note *ngIf="errorStatus==-1" slot="helper" class="errorStatus">InstagramのURLではないです!!</ion-note>
            </ion-item>
            <ion-button type="submit" [disabled]="button">ツイート内容を確認</ion-button>
        </form>
    </div>
</ion-content>